.button {
  height: 0.5rem;
  width: 7.5rem;
  background-image: url(/assets/button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: var(--rtc-m-spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rtc-black);

  background-color: transparent;
  border: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.4rem;
  cursor: pointer;
}

.button:hover {
  color: var(--rtc-blur-white);
}

.button:active {
  height: 0.4rem;
  width: 7rem;
}
