/*.button:hover {
  background-color: var(--rtc-black);
  color: var(--rtc-yellow);
}*/
.button {
  height: 2rem;
  width: 9rem;
  background-image: url(/assets/button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

  background-color: transparent;
  border: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.button:hover {
  color: var(--rtc-blur-white);
}

.button:active {
  height: 1.9rem;
  width: 8.5rem;
}
