@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300;700&display=swap');

:root {
  /*Colors*/
  --rtc-red: #9a0000;
  --rtc-yellow: #dfdb84;
  --rtc-blue: #768cdb;
  --rtc-orange: #ff6522;
  --rtc-pink: #f2a6a6;
  --rtc-black: #000000;
  --rtc-green: rgb(57, 105, 49);
  /*Spacings*/
  --rtc-xs-spacing: 0.25rem;
  --rtc-s-spacing: 0.5rem;
  --rtc-m-spacing: 1rem;
  --rtc-l-spacing: 2rem;
  --rtc-xl-spacing: 5rem;
  /*Fonts*/
  font-family: Genos, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /*Extra*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-s-spacing);
}

.articleContainer {
  min-height: 72svh;
  height: max-content;
}

@media screen and (min-width: 541px) {
  .articleContainer {
    min-height: 82svh;
    height: max-content;
  }
}
