@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  /*Colors*/
  --rtc-blur-white: rgba(255, 255, 255, 0.6);
  --rtc-red: #9a0000;
  --rtc-pink: #f2a6a6;
  --rtc-orange: #ffb158;
  --rtc-black: #000000;
  --rtc-green: #396931;
  --rtc-bright-green: #4ba148;
  /*Spacings*/
  --rtc-xs-spacing: 0.25rem;
  --rtc-s-spacing: 0.5rem;
  --rtc-m-spacing: 1rem;
  --rtc-l-spacing: 2rem;
  --rtc-xl-spacing: 5rem;
  /*Fonts*/
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
  font-weight: 400;
  /*Extra*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  background-image: url(/assets/Background-landscape.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
  width: 100svw;
}

.articleContainer {
  padding-top: var(--rtc-m-spacing);
  display: flex;
  justify-content: center;
  min-height: 70svh;
  height: max-content;
}

@media screen and (min-width: 541px) {
  .articleContainer {
    min-height: 75svh;
  }
}

@media screen and (min-width: 1541px) {
  .articleContainer {
    min-height: 81svh;
  }
}
