.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.buttonContainer {
  display: flex;
}

.h4Container {
  display: flex;
  gap: var(--rtc-s-spacing);
}

.turns {
  padding-bottom: var(--rtc-m-spacing);
  height: 8rem;
  width: 100%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.turnOption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.turnOption:hover {
  background-color: var(--rtc-pink);
  border-radius: 50%;
}

.symbols {
  width: 2rem;
}

.cell > img {
  width: 3rem;
}

.TictacSection {
  height: 90%;
  width: 16rem;
  border-radius: 25px;
  background-color: var(--rtc-blur-white);
  padding: var(--rtc-s-spacing);
}

.TictacSection > h2 {
  text-decoration: underline;
  font-size: 15px;
  margin-bottom: var(--rtc-s-spacing);
}
