.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.buttonContainer {
  display: flex;
}

.turns {
  padding-bottom: var(--rtc-m-spacing);
  height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.turnOption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.turnOption:hover {
  background-color: var(--rtc-pink);
  border-radius: 50%;
}

.symbols {
  width: 2.5rem;
}

.cell > img {
  width: 4rem;
}
