.letterContainer {
  width: 1rem;
  height: 1rem;
  border-bottom: 1px solid var(--rtc-black);
  font-size: 30px;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hintContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 3rem;
}

.hangmanIcon {
  width: 10rem;
}

.keyButton,
.correctLetter,
.wrongLetter {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.keyButton:hover {
  background-color: var(--rtc-orange);
  border: 1px solid var(--rtc-black);
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--rtc-m-spacing) 0;
}

.correctLetter {
  background-color: rgb(75, 161, 72);
}

.wrongLetter {
  background-color: var(--rtc-red);
  color: var(--rtc-black);
}
