.letterContainer {
  width: 1rem;
  height: 1rem;
  border-bottom: 1px solid var(--rtc-black);
  font-size: 15px;
  padding: var(--rtc-s-spacing) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tries {
  margin-top: var(--rtc-s-spacing);
  font-size: 11px;
}

.hintContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--rtc-s-spacing);
  height: 3rem;
  margin: var(--rtc-s-spacing);
}

.hangmanIcon {
  width: 8rem;
}

.keyButton,
.correctLetter,
.wrongLetter {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.keyButton:hover {
  background-color: var(--rtc-orange);
  border: 1px solid var(--rtc-black);
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--rtc-xs-spacing) 0;
}

.correctLetter {
  background-color: var(--rtc-bright-green);
}

.wrongLetter {
  background-color: var(--rtc-red);
  color: var(--rtc-black);
}

.HangmanSection {
  height: 95%;
  width: 16rem;
  border-radius: 25px;
  background-color: var(--rtc-blur-white);
  padding: var(--rtc-s-spacing);
}

.HangmanSection > h2 {
  text-decoration: underline;
  font-size: 15px;
  margin-bottom: var(--rtc-s-spacing);
}
