.simonContainer {
  height: 100%;
  width: 90%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--rtc-blur-white);
}

.simonContainer > h2 {
  text-decoration: underline;
  font-size: 15px;
  margin-bottom: var(--rtc-s-spacing);
}

.simonTable {
  width: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--rtc-s-spacing);
}

.colorButton {
  width: 100%;
  transition: ease 1.5s;
  cursor: pointer;
}

.colorButton:hover {
  width: 90%;
}

.simonContainer > h3 {
  font-size: 10px;
  margin: var(--rtc-s-spacing);
  text-align: center;
}

.start {
  width: fit-content;
}

@media screen and (min-width: 400px) {
  .simonContainer {
    width: 20rem;
  }
}
