section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.homeSection {
  justify-content: space-around;
}

.card {
  background-color: var(--rtc-blur-white);
  border-radius: 25px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--rtc-m-spacing);
  height: 8rem;
  width: 34rem;
  margin: 0 var(--rtc-xs-spacing);
  padding: 0.5rem;
  padding-bottom: 8rem;
  border: 2px solid var(--rtc-blur-white);
}

.card:hover {
  border: 2px solid var(--rtc-green);
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: var(--rtc-l-spacing);
}

.gameTitles {
  text-decoration: underline;
  font-size: 1rem;
}

.gameImage {
  width: 4rem;
}
