footer {
  display: flex;
  flex-direction: column;
  background-color: var(--rtc-green);
  text-align: center;
  padding: var(--rtc-m-spacing);
  gap: var(--rtc-xs-spacing);
}

.mediaImages {
  border-radius: 100%;
  width: 2.5rem;
}

footer > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 541px) {
  footer > ul {
    width: 40%;
    padding-right: var(--rtc-l-spacing);
  }

  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
